* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

div {
  cursor: pointer;
}

.one {
  padding-top: 30px;
  background-color: red;
}

.two {
  padding-top: 30px;
  background-color: blue;
}

.three {
  padding-top: 30px;
  background-color: yellow;
}
